.jumbotron{
  background: black;
  font-family: 'Beth Ellen', cursive;
}

body{
  font-family: 'Gochi Hand', cursive;
  font-size: 20px;
  font-weight: bold;
  background-repeat: no-repeat;
  background-size: cover;
  
}
  form{
    font-family: 'Annie Use Your Telescope', cursive;
  }
